authlib==1.5.1
blinker==1.9.0
bokeh==3.7.2
GitPython==3.1.44
GitPython==3.1.44
google_api_python_client==2.166.0
graphviz==0.20.3
matplotlib==3.10.1
packaging==24.2
polars==1.26.0
pydeck==0.9.1
rich==14.0.0
snowflake==1.2.0
SQLAlchemy==2.0.40
sympy==1.13.3
tenacity==9.0.0
toml==0.10.2
traitlets==5.14.3
twilio==9.5.1
typing_extensions==4.13.0
watchdog==6.0.0
xarray==2025.3.1
